<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale"  content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$sys.Name}</title>
    <meta name="description" content="{$sys.Name}">
    <meta name="keywords" content="{$sys.Name}">
    <link href="/static/rmtop/css/install.css" rel="stylesheet" type="text/css" />
    <script src="/static/rmtop/js/jquery-1.10.2.min.js"></script>
</head>

<body>
<div class="insd-mian">
    <div class="head-bag">欢迎使用{$sys.Name}！</div>

    <div class="steps">
        <ul class="progressbar">
            <li class="active">使用协议</li>
            <li class="active">检查环境</li>
            <li class="active">配置系统</li>
            <li class="active">完成安装</li>
        </ul>
    </div>
    <div class="cok-mian">
        <h1><span>✔</span>恭喜您，RmTop-CMS已经成功安装完成</h1>
        <p>（基于安全考虑，请在安装后修改后台登录目录名称！！！）</p>
    </div>
    <div class="form-dyut" style="margin-top: 40px">
        <a class="form-last" href="/">访问网站首页</a>
        <a class="form-next" href="/">登录网站后台</a>
    </div>
</div>
<div class="login-ft text-center">
    <div class="copyr-ight text-center">
        <p>  CoprRight © <a href="{$sys.Host}" target="_blank">{$sys.Name} </a> </p>
    </div>
</div>


</body>
</html>